<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.efm.ui.category.newproject"
            name="Eclipse Formal Modeling">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.efm.internal.ui.preferences.EFMRootPreferencePage"
            id="org.eclipse.efm.ui.preferences.mainPreferencePage"
            name="Eclipse Formal Modeling">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.efm.ui.category.views"
            name="Eclipse Formal Modeling">
      </category>
   </extension>   
   
</plugin>
