<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sew -->
      <package
            uri="http://www.eclipse.org/efm/SEW"
            class="org.eclipse.efm.ecore.sew.SewPackage"
            genModel="resources/ecore/sew.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sew.expression -->
      <package
            uri="http://www.eclipse.org/efm/SEW/Expression"
            class="org.eclipse.efm.ecore.sew.expression.ExpressionPackage"
            genModel="resources/ecore/sew.expression.genmodel"/>
   </extension>

</plugin>
