<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Eclipse Formal Modeling Papyrus last-release" sequenceNumber="1620776854">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.core" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="1.0.702.v20201025-2303"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.utils" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.launch" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.ui" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.dot.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.dot.user.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.dot.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.fx.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.fx.swt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jgit.ssh.jsch.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.json" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.emf.util" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.project" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.uml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.osgi" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.viewpoints.policy" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.codegen.ecore.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xpand.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xpand.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.lib" version="0.0.0"/>
      <unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.typesystem.emf.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.junit4" version="0.0.0"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.testing" version="0.0.0"/>
      <unit id="org.eclipse.xtext.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xbase" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xbase.source" version="0.0.0"/>
      <unit id="org.eclipse.xwt.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.json_core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.json_ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.common.core" version="0.0.0"/>
      <unit id="org.eclipse.wst.sse.core" version="0.0.0"/>
      <unit id="org.eclipse.wst.xml.core" version="0.0.0"/>
      <repository id="eclipse-2021-03" location="http://download.eclipse.org/releases/2021-03"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.marte.core.feature.feature.group" version="0.0.0"/>
      <repository id="Papyrus-Marte" location="http://download.eclipse.org/modeling/mdt/papyrus/components/marte"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.designer.languages.common.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.designer.deployment.tools" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.designer.transformation.base" version="0.0.0"/>
      <repository id="Papyrus-Designer" location="http://download.eclipse.org/modeling/mdt/papyrus/components/designer"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="net.sourceforge.plantuml.feature.feature.group" version="0.0.0"/>
      <unit id="net.sourceforge.plantuml.feature.source.feature.group" version="0.0.0"/>
      <unit id="net.sourceforge.plantuml.ecore.feature.feature.group" version="0.0.0"/>
      <unit id="net.sourceforge.plantuml.ecore.feature.source.feature.group" version="0.0.0"/>
      <unit id="net.sourceforge.plantuml.lib.feature.feature.group" version="0.0.0"/>
      <repository id="PlantUML" location="http://hallvard.github.io/plantuml"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Nebula" location="http://download.eclipse.org/nebula/releases/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="com.google.guava.source" version="0.0.0"/>
      <unit id="com.google.gson" version="0.0.0"/>
      <unit id="com.google.gson.source" version="0.0.0"/>
      <unit id="com.google.inject.multibindings" version="0.0.0"/>
      <unit id="com.google.inject.multibindings.source" version="0.0.0"/>
      <unit id="org.apache.commons.lang3" version="0.0.0"/>
      <unit id="org.apache.commons.lang3.source" version="0.0.0"/>
      <unit id="org.objectweb.asm" version="0.0.0"/>
      <unit id="org.objectweb.asm.source" version="0.0.0"/>
      <repository id="orbit" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository"/>
    </location>
  </locations>
</target>
