a#im-sample-project-management img {
	background-image : url(../../images/efm48.png);
}

a#im-sample-project-management:hover img {
	background-image : url(../../images/efm48_hover.png);
}

.content-group {
	margin-bottom: 20px;
}