a#im-tutorial-getting-started img {
	background-image : url(../../img/efm-48.png);
}

a#im-tutorial-getting-started:hover img {
	background-image : url(../../img/efm-48_hover.png);
}

.content-group {
	margin-bottom: 20px;
}