<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Papyrus&#x0D;&#x0A;&#x0D;&#x0A;Version: 1.0.0&#x0D;&#x0A;&#x0D;&#x0A;(c) Copyright Eclipse contributors and others 2000, 2015.  All rights reserved.&#x0D;&#x0A;Visit http://www.eclipse.org/platform&#x0D;&#x0A;&#x0D;&#x0A;This product includes software developed by the&#x0D;&#x0A;Apache Software Foundation http://www.apache.org/"
            name="Eclipse Formal Modeling &amp; Symbex Tools">
         <property name="windowImages" value="icons/efm16.png,icons/efm32.png,icons/efm48.png,icons/efm64.png,icons/efm128.png,icons/efm256.png"/> 
         <property name="aboutImage" value="icons/efm_lg.png"/>
         <property
               name="appName"
               value="Eclipse Formal Modeling &amp; Symbex Tools">
         </property>
         <property
              name="introBrandingImage"
              value="product:icons/intro-efm.png"/>
         <property
               name="introTitle"
               value="Welcome to Eclipse Formal Modeling">
         </property>
         <property
               name="introBrandingImageText"
               value="Eclipse Formal Modeling">
         </property>
         <property
               name="startupForegroundColor"
               value="9C9E9F">
         </property>
         <property
               name="startupMessageRect"
               value="100,10,445,16">
         </property>
         <property
               name="startupProgressRect"
               value="8,316,470,15">
         </property>
         <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
          value="platform:/plugin/org.eclipse.platform/images/">
		  </property>
    <property
          name="aboutText"
          value="Eclipse Formal Modeling (Incubation)&#x0A;&#x0A;(c) Copyright Eclipse contributors and others 2000, 2016.  All rights reserved.&#x0A;Visit http://www.eclipse.org/platform&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/">
    </property>
    <property
          name="preferenceCustomization"
          value="plugin_customization.ini">
    </property>
      </product>
   </extension>
</plugin>
