<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.efm.ui.views"
            name="EFM Views">
      </category>
      <view
            category="org.eclipse.efm.ui.views"
            class="org.eclipse.efm.ui.views.viewparts.swv.SymbexWorkflowView"
            icon="icons/sample.gif"
            id="org.eclipse.efm.ui.views.SymbexWorkflowView"
            name="Symbex Workflow">
      </view>
   </extension>

</plugin>
