<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
               class="org.eclipse.efm.papyrus.view.property.concretesyntax.sheet.EditingPropertySection"
               enablesFor="1"
               filter="org.eclipse.efm.papyrus.view.property.concretesyntax.sheet.EditingPropertySectionFilter"
               id="fml.property.section.AdvancedEditingPropertySection"
               tab="fml_editing">
            <input
                  type="org.eclipse.gmf.runtime.notation.View">
            </input>
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="TreeOutlinePage">
         <propertyTab
               afterTab="uml"
               category="org.eclipse.papyrus"
               id="fml_editing"
               image="platform:/plugin/org.eclipse.efm.ui.resources/icons/diversity_icon.png"
               indented="true"
               label="FormalML">
         </propertyTab>
      </propertyTabs>
   </extension>
</plugin>
