<plugin name="EFM Help Contents" id="org.eclipse.diversity.documentation"
   version="1.0.0" provider-name="CEA_LIST">
   <extension point="org.eclipse.help.toc">
      <toc file="resources/doci/toc.xml" primary="true" />
   </extension>
	<extension point="org.eclipse.help.contexts">
		<contexts
			file="help_contexts.xml"
			plugin="org.eclipse.efm.sew.launcher">
		</contexts> 
	</extension>
</plugin>