/.TransitionDescriptionLabelProvider.java._trace
/.TransitionDescriptionLabelProvider.xtendbin
/.TransitionLabelProvider.java._trace
/.TransitionLabelProvider.xtendbin
/TransitionDescriptionLabelProvider.java
/TransitionLabelProvider.java
