<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.efm.modeling.ui.PerspectiveModeling"
            fixed="true"
            icon="platform:/plugin/org.eclipse.efm.ui/resources/icons/diversity_icon.png"
            id="org.eclipse.efm.modeling.ui.perspectiveModeling"
            name="EFM-Modeling">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.efm.modeling.ui.perspectiveModeling">
         <view
               closeable="true"
               id="org.eclipse.papyrus.views.modelexplorer.modelexplorer"
               minimized="false"
               moveable="true"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.papyrus.views.modelexplorer.modelexplorer"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <newWizardShortcut
               id="org.eclipse.efm.modeling.ui.newproject.wizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.efm.modeling.ui.newproject.examples.papyrus.ComplexDog">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.efm.modeling.ui.newproject.examples.papyrus.SimplifiedPhoneX">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.efm.modeling.ui.newproject.examples.papyrus.WaterSystem">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.efm.modeling.ui.newproject.examples.papyrus.WaterSystem">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.eclipse.efm.execution.ui.perspectiveExecution">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.papyrus.infra.core.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
