<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Eclipse Formal Modeling Textual last-release" sequenceNumber="1537277693">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.launch" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.uml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xpand.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.dependencies.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.lib" version="0.0.0"/>
      <unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.junit4" version="0.0.0"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.testing" version="0.0.0"/>
      <unit id="org.eclipse.xtext.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xbase.feature.group" version="0.0.0"/>
      <repository id="eclipse-photon" location="http://download.eclipse.org/releases/photon/"/>
    </location>
  </locations>
</target>
