<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name="EFM Projects"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.efm.ui.newproject.standalone.EFM"
            name="EFM Project">
      </category>
      <wizard
            category="org.eclipse.efm.ui.newproject.standalone.EFM"
            class="org.eclipse.efm.ui.newproject.standalone.NewEFMprojectWizard"
            icon="platform:/plugin/org.eclipse.efm.ui.resources/icons/diversity_icon.png"
            id="org.eclipse.efm.ui.newproject.standalone.EFMnp"
            name="EFM Project">
      </wizard>
   </extension>

</plugin>
