<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.efm.modeling.rcp.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="extensions/tutorialsExtensionContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.quicklinks">
      <command
            icon="images/efm48.png"
            id="org.eclipse.efm.execution.launchconfiguration.command.graphviz"
            importance="high"
            label="Eclipse Formal Modeling">
      </command>
      <url
            description="A guided walkthrough to the Eclipse Formal Modeling framework"
            icon="images/efm48.png"
            importance="high"
            label="Eclipse Formal Modeling"
            location="http://org.eclipse.ui.intro/showHelpTopic?id=/org.eclipse.efm.modeling.doc.helpcontents/resources/docs/toc.xml">
      </url>
   </extension>

</plugin>
