/.TransitionRuntimeModule.java._trace
/.TransitionRuntimeModule.xtendbin
/.TransitionStandaloneSetup.java._trace
/.TransitionStandaloneSetup.xtendbin
/TransitionRuntimeModule.java
/TransitionStandaloneSetup.java
