<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FormalML.profile -->
      <package
            uri="http://www.eclipse.org/efm/FormalML/profile"
            class="org.eclipse.efm.modeling.formalml.FormalMLPackage"
            genModel="resources/profile/FormalML.profile.genmodel"/>
   </extension>

</plugin>
