<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <contribution
            file="resources/configuration/statemachine.configuration"
            original="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/builtin/default.configuration">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider
            class="org.eclipse.efm.formalml.diagram.statemachine.util.ParserProvider">
         <Priority
               name="Highest">
         </Priority>
      </ParserProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.diagramExpansion">
      <diagramexpansion
            model="resources/configuration/statemachine.expansionmodel">
      </diagramexpansion>
   </extension>

</plugin>
