<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.efm.ui.runsession.preferences_root.EFMRootPreferencePage"
            id="org.eclipse.efm.ui.preferences_root.mainPage"
            name="Eclipse Formal Modeling">
      </page>
   </extension>





</plugin>
