<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.efm.execution.ui.PerspectiveExecution"
            fixed="true"
            icon="platform:/plugin/org.eclipse.efm.ui/resources/icons/diversity_icon.png"
            id="org.eclipse.efm.execution.ui.perspectiveExecution"
            name="EFM-Execution">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.efm.execution.ui.perspectiveExecution">
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.efm.execution.ui.views.SymbexWorkflowView"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.debugActionSet">
         </actionSet>
         <viewShortcut
               id="org.eclipse.efm.execution.ui.views.SymbexWorkflowView">
         </viewShortcut>
         <perspectiveShortcut
               id="org.eclipse.efm.editing.ui.perspectiveEditing">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.efm.modeling.ui.perspectiveModeling">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.efm.ui.preferences.mainPreferencePage"
            class="org.eclipse.efm.execution.internal.ui.preferences.MainPreferencePage"
            id="org.eclipse.efm.ui.preferences.runconfigurations.mainPage"
            name="Symbolic Execution Workflow">
      </page>
      <page
            category="org.eclipse.efm.ui.preferences.runconfigurations.mainPage"
            class="org.eclipse.efm.execution.internal.ui.preferences.ExternalToolsPreferencePage"
            id="org.eclipse.efm.ui.preferences.runconfigurations.externalToolsPage"
            name="External Tools">
      </page>
      <page
            category="org.eclipse.efm.ui.preferences.runconfigurations.mainPage"
            class="org.eclipse.efm.execution.internal.ui.preferences.LaunchConfigurationPreferencePage"
            id="org.eclipse.efm.ui.preferences.runconfigurations.launchConfigurationPage"
            name="Launch Configuration">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.efm.execution.internal.ui.preferences.ToolPreferenceInitializer">
      </initializer>
   </extension>
   
</plugin>
